/* style.css */

nav {
    background-color: #161b22;
    padding: 10px;
    text-align: center;
}
nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover {
    color: #58a6ff;
}
header {
    background-color: #0d1117;
    color: white;
    padding: 20px;
    text-align: center;
}
/* -------------------- HERO SECTION -------------------- */
        .hero {
            padding: 80px 20px;
            text-align: center;
            background-color: #ffffff;
        }

        .hero h1 {
            font-size: 40px;
            margin-bottom: 10px;
        }

        .hero p {
            font-size: 18px;
            max-width: 600px;
            margin: auto;
        }
/* -------------------- SERVICES -------------------- */
.section {
    padding: 50px 20px;
    text-align: center;
}
 .cards {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 20px;
            padding: 20px;
            max-width: 1000px;
            margin: auto;
 }
 .card {
            background: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 2px 4px 6px rgba(0,0,0,0.1);
        }
.card:hover {
transform: translateY(-8px);
transition: 0.3s;
background-color: darkblue;
color: white;
}



.contact {
background: #1f2937;
color: white;
padding: 50px 20px;
}

form {
            max-width: 500px;
            margin: auto;
}

input, textarea {
width: 100%;
padding: 12px;
border-radius: 8px;
border: none;
margin: 10px 0;
}


button {
background: #58a6ff;
color: white;
padding: 12px 25px;
border: none;
border-radius: 8px;
cursor: pointer;
font-size: 16px;
}


button:hover {
background: #1f6feb;
}


footer {
background: #0e1a2b;
color: white;
text-align: center;
padding: 15px;
}




